
.row:before,
.row:after {
    display: none !important;
}
.single-accordion h6 a span{top: calc(50% - 8px);}
i.fa {
    font-size: 16px;
}

img.img-logo {
    width: 76px;
}

#searchbtn .ti-search {
    font-size: 18px;
}

.h-80 {
    height: 80px;
}

.h-mn {
    height: 90px;
    padding-left: 0;
    padding-right: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}
.pl0-pt0{
    padding-left: 0px;
    padding-top: 0px;
}
.widget-single-blog-post .widget-post-thumbnail {
    width: 35%;
}

.widget-single-blog-post .widget-post-thumbnail img {
    width: 100%;
}

.widget-single-blog-post .widget-post-content {
    width: 65%;
}

.widget-post-content>a {
    font-size: 13.5px;
    line-height: 1 !important;
}

.widget-post-content>a:hover {
    color: #262626;
}

.navbar-brand.logo-link {
    display: table
}

.navbar-brand.logo-link span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
    color: #101010;
    letter-spacing: -1px;
}

.navbar-brand.logo-link span b {
    font-weight: 700;
    font-size: 21px;
}


/* carousel video */

#video-testimonials .item-details {
    color: #fff;
    padding: 12px 10px;
    text-align: left;
}

#video-testimonials .item-details h5 {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

#video-testimonials .item {
    text-align: center;
}

.owl-carousel.custom .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}

.owl-carousel.custom {
    position: relative;
}

.owl-carousel.custom .owl-next,
.owl-carousel.custom .owl-prev {
    line-height: 45px;
    top: 30%;
}

.owl-carousel.custom .owl-prev {
    left: -70px;
}

.owl-carousel.custom .owl-next {
    right: -70px;
}

.latest-news-widget-area {
    padding-top: 0;
    padding-bottom: 0;
}

.section_heading.news {
    padding-bottom: 0;
}

.section_heading.news h2 {
    color: #262626;
}

.footer-logo.custom {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo.custom h5 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
}

.foot-quicklink {
    margin-bottom: 20px;
}

.foot-quicklink h6 {
    margin-bottom: 0;
    color: #2f88fd;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-social-info {
    padding-left: 45px;
}


/* ----------------- */


/* .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videoModal {
    top: 12%;
    position: absolute;
    z-index: 9999;
    } */

    .background-overlay.videobg:after {
        background: -webkit-linear-gradient(to right, #696969, #4a4a4a);
        background: -webkit-linear-gradient(left, #696969, #4a4a4a);
        background: linear-gradient(to right, #696969, #4a4a4a);
    }

    .btn-video {
        border: 2px solid #fff;
    }

    .btn-video:hover {
        cursor: pointer;
        border: 2px solid #39c7fb;
    }

    .modal-dialog.videodl {
        width: 596px;
        max-width: 596px;
    }

    .space-bg {
        position: relative;
        padding: 30px 0 0;
        background-color: #e5f1f3;
    }

    .space-bg:before {
        content: '';
        position: absolute;
        background: #e5f1f3;
        width: 100%;
        height: 110px;
        top: 30px;
    }

    .section_padding_0-0-50 {
        padding: 0 0 50px;
    }

    .single-blog-area .post-thumb img {
        width: 100%;
    }

    .post-content h5 {
        font-weight: 600;
        font-size: 15.5px;
    }

    .cat-new {
        position: relative;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .cat-new h3 {
        float: left;
        color: #2f88fd;
        font-size: 1.65rem;
    }

    .cat-new .view-all-news {
        float: left;
        background: #ccc;
        padding: 2px 10px;
        border-radius: 4px;
        margin-top: 4px;
        margin-left: 15px;
        color: #000;
    }

    .cat-new .view-all-news:hover,
    .cat-new .view-all-news:focus {
        color: #2f88fd;
        background: #dedede;
    }

    .date-post {
        color: #727b88;
        font-size: 11.5px;
        font-weight: 500;
        padding-top: 2px;
    /* padding-left: 10px;
    margin-left: 10px; */
    position: relative;
}

.date-post:before {
    /* content: ''; */
    position: absolute;
    width: 1px;
    height: 10px;
    background: #727b88;
    top: 5px;
    left: 0;
}

.post-content>p {
    margin-bottom: 15px;
    font-size: 15px;
}

.post-content-detail>p {
    margin-bottom: 10px;
    font-size: 15px;
}

.latest-news-widget-area h5,
.medica-catagories-card h5 {
    color: #2f88fd;
    border-left: 4px solid #e32;
    line-height: 14px;
    padding-left: 10px;
}

.breadcumb-area {
    height: 380px;
}

.gradient-background-overlay:after,
.background-overlay:after {
    opacity: .25;
}

.breadcumb-title {
    margin-bottom: 1px;
}

.breadcumb-title span {
    color: #0f28d0;
    background: rgba(255, 255, 255, 0.6);
    padding: 3px 5px;
}

.nav-breadcrumb {
    padding: 2px 5px;
    display: inline-block;
    background-color: rgba(140, 140, 140, 0.6)
}

.medica-about-text h2 {
    line-height: 1.5;
}

.row-space {
    display: block;
    height: 20px;
    width: 100%;
}

.breadcrumb-item a:hover {
    color: #3de6fa;
}

.elements-box {
    position: relative;
    text-align: center;
    padding-bottom: 12px;
    background: #fff;
    margin-bottom: 15px;
    overflow: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.elements-box.shadow,
.item-news.shadow
{
    box-shadow: 0 1px 6px rgba(0,0,0,.22);
}
.elements-box .box-header{
    font-size: 18px;
    padding: 12px 12px 0rem;
    color: #2547ff;
    font-weight: 600;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 54px
}
.box-accent{    
    width: 100%;
    height: 6px;
    font-size: 0;
    background: #243eff;
    background: -webkit-linear-gradient(to right, #3de6fa, #243eff);
    background: -webkit-linear-gradient(left, #3de6fa, #243eff);
    background: linear-gradient(to right, #3de6fa, #243eff);
}
.elements-box .box-copy {
    margin: 0 12px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 98px
}
.box-copy{line-height: 24px}
.box-link a{
    color: #3191fd;
    text-decoration: none
}
.box-link a:hover{text-decoration: underline}

.item-news{     
   position: relative;
   padding-top: 2px;
   padding-bottom: 5px;
   background: #fff;
   margin-bottom: 20px;
   overflow: auto;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   min-height:  325px;
}
.item-news .box-header {
    font-size: 18px;
    padding: 22px 20px 2.2rem;
    color: #2547ff;
    font-weight: 600;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 37px;
    line-height: 1;
}
.item-news .box-header:hover {
    color: #0028ff
}
.item-news .box-accent {
    width: 100%;
    height: 1px;
    font-size: 0;
    background: #243eff;
    background: -webkit-linear-gradient(to right, #3de6fa, #243eff);
    background: -webkit-linear-gradient(left, #3de6fa, #243eff);
    background: linear-gradient(to right, #3de6fa, #243eff);
    position: absolute;
    top: 61px
}
.item-news .item{
    padding: 5px 15px 5px;
    display: table;
    width: 100%;
}
.story__thumb {
    width: 163px;
    height: 110px;
    float: left;
    margin: 3px 15px 10px 0;
    display: block;
    overflow: hidden;
    background: #ddd;
}
.story__thumb img {
    width: 100%;
}

.item-news .item a.link:hover {
    color: #3190fd;    
}
.item-news .item .time-post{
    color: #b1b1b1
}
.story__title {
    max-height: 60px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
ul.list-newsItem {
    width: 100%;
    display: inline-block;
}
ul.list-newsItem li{position: relative;}
ul.list-newsItem li span{
    color: #3190fd;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    line-height: 1
}
ul.list-newsItem li a{
    padding-left: 12px;
    color: #3190fd;
}

ul.list-newsItem li a:hover{
    color: #2547ff;
    text-decoration: underline
}
.item-news .item .see-all{
    font-weight: 400;
    color: red;
    border-bottom: 1px solid #ccc;
}
.item-news .item .see-all:hover{
    color: #a70000;
    border-bottom: 1px solid #a70000;
    margin-left: 10px;
}
.moreless.more{ 
    display: block; 
    background: transparent; 
    text-decoration: none; 
    color: #f00; 
    font-weight: 500;
    font-size: 14px; 
    text-transform: initial;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-top: 10px;
    width: 95px;
}
.moreless.less{ 
    display: inline-block; 
    background: transparent; 
    text-decoration: none; 
    color: #f00; 
    font-weight: 500;
    font-size: 14px; 
    text-transform: initial; 
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}
.moreless.more:hover, .moreless.less:hover{
    color: #001db9;
    border-bottom: 1px solid #001db9;
    margin-left: 10px;
    text-decoration: none
}
.post-thumb h4{
    font-weight: 600
}
.dropdown-menu.right-0{
    left: unset;
    right: 0
}
.header-area .main-menu .nav-link.more_mn{
    text-transform: unset;
    font-size: 14px;
    color: red;
}
.ti-more_mn{
    font-weight: 900;
    color: red;
    position: relative;
    top: 2px;
    left: 2px
}
.dropdown-toggle.more_mn:after{
    display: none
}

/* css tab */
.tabbed {
    overflow-x: hidden; /* so we could easily hide the radio inputs */
    margin: 32px 0;
    padding-bottom: 16px;
}
.tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
}
.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-right: 0px solid;
    background: #eee;
    color: #666;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    transition: all 0.3s;
}
.tab:last-child > label {    
    border-right: 1px solid #ccc;
}
.tab:hover label {
    border-top-color: #333;
    color: #333;
}
.tab-content {
    display: none;
    color: #777;
}
/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
    border-bottom-color: #fff;
    border-top-color: #2859fe;
    background: #fff;
    color: #222;
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
    display: block;
}
/* end css tab */

/* accordion */
.accordion {
  margin: 0 auto;
}

.toggle {
  display: none;
}

.accordion .option {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid #d7d7d7;
}
.accordion .option:last-child {
    border-bottom: 0px solid #d7d7d7;
}
.accordion .option .title,
.accordion .option.content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.accordion .option .title {
  background: #fff;
  padding: 1em;
  display: block;
  color: #7A7572;
  font-weight: bold;
  cursor: pointer
}
.accordion .option .title:hover {
    color: #36b3fc
}
.accordion .option .title:after, .title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7A7572;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.accordion .option .title:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion .option .content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
.accordion .option .content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}
.accordion .option .content h4 {    
  margin: 0;
  padding: 0.5em 1em 0.5em;
  font-size: 17px;
  color: #f00
}

.toggle:checked + .title
/* .toggle:checked + .title + .content  */
{
  /* box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd; */
  border-bottom: 1px dashed #36b3fc;
  color: #2547ff;
}
.toggle:checked + .title + .content {
  max-height: 500px;
}
.toggle:checked + .title:before {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.dropdown-item span{
    font-size: 10px;
    padding-right: 5px;
}